<div class="list-group col-md-12 col-lg-12">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Nacional</h4>
    <p class="list-group-item-text">Cantidad de Relaves: {{national_stats.mining_wastes_count}} </p>
  </a>
  <a href="#" class="list-group-item" ng-hide="!vm.regional_stats">
    <h4 class="list-group-item-heading">Regional</h4>
    <p class="list-group-item-text">Region: {{vm.regional_stats.name}} </p>
    <p class="list-group-item-text">Cantidad de Relaves: {{vm.regional_stats.mining_wastes_count}} </p>
  </a>
  <a href="#" class="list-group-item" ng-hide="!vm.commune_stats">
    <h4 class="list-group-item-heading">Comunal</h4>
    <p class="list-group-item-text">Comuna: {{vm.commune_stats.name}} </p>
    <p class="list-group-item-text">Cantidad de Relaves: {{vm.commune_stats.mining_wastes_count}} </p>
  </a>
</div>