<section class="filters col-md-12 col-lg-12">
  <form class="col-md-6 col-lg-6">
    <div class="form-group">
      <label for="inputRegion">Región</label>
      <select class="form-control" class="form-control" id="inputRegion" >
        <option value="">Seleccione Región</option>
        <option ng-repeat="region in regions" value="{{region}}">{{region.region_number}} - {{region.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputComuna">Comuna</label>
      <select class="form-control" class="form-control" id="inputComuna">
        <option value="">Seleccione Comuna</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default">Filtrar</button>
  </form>

<form class="col-md-6 col-lg-6">
  <div class="form-group">
    <label for="inputOwner" class="control-label">Dueño/Empresa</label>
    <div >
      <input type="email" class="form-control" id="inputOwner" placeholder="Seleccione Dueño">
    </div>
  </div>

  <div class="form-group">
    <div>
      <button type="submit" class="btn btn-default">Filtrar por Dueño</button>
    </div>
  </div>
</form>
</section>

<section class="map-section col-md-12 col-lg-12">
  <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</section>