<div class="list-group col-md-12 col-lg-12">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Nacional</h4>
    <p class="list-group-item-text">Cantidad de Relaves: {{national_stats.mining_wastes_count}} </p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Regional</h4>
    <p class="list-group-item-text">Cantidad de Relaves: - </p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Comunal</h4>
    <p class="list-group-item-text">Cantidad de Relaves: - </p>
  </a>
</div>