$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

body {
  padding: 0; 
  color: #1066b0;
  background-color: #F5F5F5;

  .popup, .intro {
    color: slategray;
  }
}

header {
  padding: 10px;
  height: 135px;
  // background-color: #F5F5F5;
  background: url(/assets/header.png) repeat-x;
  .container {
    background-color: transparent;
  }
  img {
    margin-left: 10px;
    width: 150px;
    height: auto;
  }
  p.important-title {
    font-size: xx-large;
    clear: both;
    margin: 10px 0px 0px 0px;
  }
  p.second-title {
    font-size: 21px;
    clear: both;
    margin: 0px;
  }
}

.container {
  background-color: white;
  .alert {
    margin: 5pxx 0 5px 0;
  }
}

section.filters {
  padding-bottom: 10px;
  padding-top: 20px;
}

section.map-section {
  height: 70vh;
  .angular-google-map-container { 
    height: 70vh;
  }
  .info-container {
    height: 100%;
    color: slategray;
    .national-stats, .regional-stats, .communal-stats {

    }
  }
  p.map-text {
    font-size: 10px;
    line-height: 11px;
    color: #555
  }
}
